@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


*{
font-family: 'Poppins', sans-serif;
}

small{
    font-family: 'Exo', sans-serif;
}


/* subcat-list */
.subcatergory-list>.col-12{
  height:55vh;
}

.sub-cat-img>img {
  width: 100%;
  height: 55vh;
}


/* BG IMG */
.box1{
  height: 80vh;
  width: 100%;
  
  display: table;
  background-attachment: fixed;
}

.g-w-i{
  background-image: url(../images/Category/grow-with-india.png);
  background-size: cover;
}

.dig-consult{
  background-image: url(../images/Category/Digital-Consulting.png);
  background-size: cover;
}

.marknadv{
  background-image: url(../images/Category/Marketing&Advertising.png);
  background-size: cover;
}

.proj-serv{
  background-image: url(../images/Category/project-services.png);
  background-size: cover;
}

.strat-consult{
  background-image: url(../images/Category/Strategy-Consulting.png);
  background-size: cover;
}

.sustain{
  background-image: url(../images/Category/sustainability.png);
  background-size: cover;
}

.brand-assess{
  background-image: url(../images/Sub/Your-Brand-India-Fit-Assessment.png);
  background-size: cover;
}
.indian-partners{
  background-image: url(../images/Sub/find-indian-partners.png);
  background-size: cover;
}
.gotoindiastrat{
  background-image: url(../images/Sub/Go-To-India-Strategy.png);
  background-size: cover;
}
.mark-strat{
  background-image: url(../images/Sub/Marketing-Strategy.png);
  background-size: cover;
}
.setupmark{
  background-image: url(../images/Sub/Set-Up-Marketing-Team.png);
  background-size: cover;
}
.troubleshoot{
  background-image: url(../images/Sub/Troubleshooting.png);
  background-size: cover;
}

.change-manage{
  background-image: url(../images/Sub/change-management.png);
  background-size: cover;
}
.corp-ent{
  background-image: url(../images/Sub/Corporate-Entrepreneurship.png);
  background-size: cover;
}
.family2corporate{
  background-image: url(../images/Sub/Convert-Family-Run-into-a-Corporate.png);
  background-size: cover;
}

.manage-non{
  background-image: url(../images/Sub/Managing-Non-market-Forces.png);
  background-size: cover;
}
.product-mark{
  background-image: url(../images/Sub/Product-Marketing.png);
  background-size: cover;
}
.b-l-s{
  background-image: url(../images/Sub/Business-Level-Strategy.png);
  background-size: cover;
}
.corp-strat{
  background-image: url(../images/Sub/Corporate-Level-Strategy.png);
  background-size: cover;
}
.f-l-s{
  background-image: url(../images/Sub/Functional-Level-Strategy.png);
  background-size: cover;
}
.gtm-strat{
  background-image: url(../images/Sub/GTM.-Strategy.png);
  background-size: cover;
}
.pricing-strat{
  background-image: url(../images/Sub/Pricing-Strategy.png);
  background-size: cover;
}
.restruct-brand{
  background-image: url(../images/Sub/Restructuring-Brands-&-Business.png);
  background-size: cover;
}
.turn-around{
  background-image: url(../images/Sub/Turn-Around-Strategy.png);
  background-size: cover;
}
.ehs{
  background-image: url(../images/Sub/Environment-Health-and-Safety.png);
  background-size: cover;
}
.sus-transform{
  background-image: url(../images/Sub/sustainability-transformation.png);
  background-size: cover;
}
.dig-strat{
  background-image: url(../images/Sub/Digital-Strategy.png);
  background-size: cover;
}
.dig-trans{
  background-image: url(../images/Sub/Digital-Transformation.png);
  background-size: cover;
}

.dig-manage{
  background-image: url(../images/Sub/digital-management.png);
  background-size: cover;
}



.box1>h1{
    font-family: 'Orbitron', sans-serif;
    color: #fff;
	font-size: 75px;
	margin: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
  }

.cover {
  object-fit: cover;
}

/* MAIN CATEGORY */
.mem-img>img {
  width:75px;
  height:75px;
  border-radius: 50%;
}



.mem-info>*,.team-members{
  float:right;
  
  /* align-content: flex-end; */
  /* justify-self: flex-end; */
  
}
.mem-info>*{
  justify-self: flex-end;
}


.team-members{
  display: flex;
  flex-direction:column;
  align-self:stretch;
  
  align-content: space-between;
  height: 100%;
  padding: auto 20px;
}
.team-members>*{
  margin-bottom: 10px;
}

.team-col{
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.mem-info{
  border-bottom:0 !important;
}
/* rel-btns */
/* .rel-btns{
  float:left;

} */

hr{
  border:1px solid black !important;
  width:100%;
}

.btn-sm{
  font-size: 10px !important;
}

.mem-img>img{
  height: 100%;
  object-fit: cover;
}


/* animated-img */
.animated-img{
    /* height:100vh;
    width:100%; */
    animation-duration: 3s;
    animation-name: slidein;
    overflow: hidden;
    object-fit: cover;
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }
  
    to {
      margin-left: 0%;
      /* width: 100%; */
    }
  }
/* 
 Read More button */
 button.view-more {
	padding: 10px 30px;
	border-radius: 0%;
	width:15vw;
	/* position: absolute; */
}
/* button.view-more:hover {
		color: #333;
		background-color: #fff;
		transition: 0.5s;
	} */
  .rel-images{
    height: 100%;
    width:100%;
  }
  .cover{
      height: 100%;
      width:100%;
      object-fit: cover;
  }

  .navbar *{
    font-family: Roboto,sans-serif !important;
    text-transform: uppercase;
    text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .box1>h1{
    font-size: 20px;
  }


  /* sub-category */
  *{
    font-size: 12px;
  }
  .subcatergory{
    display: flex;
  }
  .category-outline{
    align-self: center !important;
  }
  
  
}

