@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


*{
font-family: 'Poppins', sans-serif;
}

small{
    font-family: 'Exo', sans-serif;
}


/* subcat-list */
.subcatergory-list>.col-12{
  height:45vh;
}

.sub-cat-img>img {
  width: 100%;
  height: 45vh;
}


/* BG IMG */
.box1{
  height: 80vh;
  width: 100%;
  background-image: url(../images/exper/cover.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}


.box1>h1{
    font-family: 'Orbitron', sans-serif;
    color: #fff;
	font-size: 75px;
	margin: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
  }

.cover {
  object-fit: cover;
}

/* MAIN CATEGORY */
.mem-img>img {
  width:75px;
  height:75px;
  border-radius: 50%;
}



.mem-info>*,.team-members{
  float:right;
  
  /* align-content: flex-end; */
  /* justify-self: flex-end; */
  
}
.mem-info>*{
  justify-self: flex-end;
}


.team-members{
  display: flex;
  flex-direction:column;
  align-self:stretch;
  
  align-content: space-between;
  height: 100%;
  padding: auto 20px;
}
.team-members>*{
  margin-bottom: 10px;
}

.team-col{
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.mem-info{
  border-bottom:0 !important;
}
/* rel-btns */
/* .rel-btns{
  float:left;

} */

hr{
  border:1px solid black !important;
  width:100%;
}

.btn-sm{
  font-size: 10px !important;
}

.mem-img>img{
  height: 100%;
  object-fit: cover;
}


/* animated-img */
.animated-img{
  
    animation-duration: 3s;
    animation-name: slidein;
    overflow: hidden;
}
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }
  
    to {
      margin-left: 0%;
      /* width: 100%; */
    }
  }
/* 
 Read More button */
 button.view-more {
	padding: 10px 30px;
	border-radius: 0%;
	width:15vw;
	/* position: absolute; */
}
/* button.view-more:hover {
		color: #333;
		background-color: #fff;
		transition: 0.5s;
	} */
  .rel-images{
    height: 100%;
    width:100%;
  }
  .cover{
      height: 100%;
      width:100%;
      object-fit: contain;
  }


@media screen and (max-width: 768px) {
  .box1>h1{
    font-size: 20px;
  }


  /* sub-category */
  *{
    font-size: 12px;
  }
  .subcatergory{
    display: flex;
  }
  .category-outline{
    align-self: center !important;
  }
  
  
}

