@import url(https://fonts.googleapis.com/css?family=Lato);


.logo {
	z-index: 3;
	img {
		width: 50px;
	}
}

$color_1: #fff;

* {
	margin: 0;
	padding: 0;
	line-height: 0;
}
div {
	display: inline-block;
	position: relative;
}
a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333 url(http://www.clker.com/cliparts/0/f/c/2/1195445181899094722molumen_phone_icon.svg.med.png) no-repeat 95% 0%;
	background-size: 100px;
	opacity: 0;
	font: 300 36px helvetica, sans-serif;
	color: $color_1;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		opacity: .6;
		background-position: 95% 85%;
	}
}
p.profile-text {
	padding: 30px;
	line-height: 1;
}



ul {
  li {
    a {
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: #fff;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
// bg-img
$color_1: #fff;

* {
	margin: 0;
	padding: 0;
	line-height: 0;
}
body {
	margin: 50px;
	background: rgb(235, 235, 235);
}
div {
	display: inline-block;
	position: relative;
}
a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333 url(http://www.clker.com/cliparts/0/f/c/2/1195445181899094722molumen_phone_icon.svg.med.png) no-repeat 95% 0%;
	background-size: 100px;
	opacity: 0;
	font: 300 36px helvetica, sans-serif;
	color: $color_1;
	text-decoration: none;
	transition: all 0.3s;
}
a:hover {
		opacity: .6;
		background-position: 95% 85%;
	}
}
.profile-text {
	padding: 30px;
	line-height: 1;
}


// Read More button
button.read-more {
	padding: 10px 30px;
	border-radius: 0%;
}
button.read-more:hover {
		background-color: $background-color_1;
		color: $color_1;
		transition: 0.5s;
	}
}

