
.logo img{
    width:50px;
}

/* MAP */
.mapouter {
    /* position: relative; */
    text-align: right;
    width: 95%;
    height: 90vh;
    margin:auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 95%;
    height: 90vh;
    margin:auto;
}

.gmap_iframe {
    width: 95% !important;
    height: 90vh !important;
    margin:auto;
}

input,input:focus{ 
    border:none !important;
    border-bottom:1px solid black !important;
    border-radius: 0% !important;
}

textarea{ 
    border:1px solid black !important;
    border-radius: 0% !important;
}

button.submit-btn{
    padding:10px 30px;
    border-radius: 0%;
}

button.submit-btn:hover{
    background-color: white;
  color: black;
  transition: 0.5s;
}
