
.logo img{
    width:50px;
}

/* MAP */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 90vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 90vh;
}

.gmap_iframe {
    width: 100% !important;
    height: 90vh !important;
}

input{ 
    
    border:none !important;
    border-bottom:1px solid black !important;
    border-radius: 0% !important;
}

textarea{ 
    border:1px solid black !important;
    border-radius: 0% !important;
}

button.submit-btn{
    padding:10px 30px;
    border-radius: 0%;
}

button.submit-btn:hover{
    background-color: white;
  color: black;
  transition: 0.5s;
}
