* {
    padding: 0;
    border: 0;
    margin: 0;
}

header>div{
    height:40vh !important;
}

.logo img {
    width: 50px;
}

.expert-img{
    width: 100%;
    height: 50vh;
}

.expert-img>img {
    width: 100%;
    height: 50vh;

}

.cover {
    object-fit: cover;
}

.row>.col-lg-6 {
    height:50vh;
    display:grid;
    /* margin-left: */
}


/* expert-content */
.expert-content {
    /*     
    margin-top:auto;
    
    padding: 0%; */
    align-self: end;
    
    /* margin:10px 0; */
    width: 85%;
    /* display: block; */
}

/* .expert-content p{
    font-weight: 5px!important;
} */

.expert-content-right {
    float: right ;
    justify-self: flex-end;
}

.expert-content-left {
    float: left;
}

a > .know-more{
    font-style: bolder !important;
}
/* button */
button.know-more {
    padding: 10px 30px;
    border-radius: 0%;
    border:none;
    color:#fff;
}

/* button.know-more:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
} */

p{
    font-size: 17px;
}
@media screen  and (max-width: 768px) {
    

.cover {
    object-fit: cover;
}
}

@media screen and (max-width:1350px){
    /* .row>.col-lg-6 {
        height: 60vh;
        display:grid;
       
    }

    
.expert-img>img {
    width: 100%;
    height: 60vh;
} */
.expert-content{
    justify-self: flex-start;
    width: 100%;
    max-height: unset!important;
    width: 100% !important;
    text-align:justify;
}
.expert-img{
    height:55vh;
}
.expert-img>img {
width: 100%;
height: 47vh;
overflow: hidden;
}
.row>.col-lg-6 {
    
    max-height:unset!important;
    display:grid;
    /* margin-left: */
    
}


}
@media screen and (max-width: 1180px){
    .row>.col-lg-6 {
        height:unset;
        display:grid;
        /* margin-left: */
    }

    .expert-img{
        height:50vh;
    }
.expert-img>img {
    width: 100%;
    max-height: 50vh;
    padding-bottom: 10px;
}
}

nav{
    width: 100vw !important;
}