@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
/* @font-face {
  font-family:'Heckney SemiBold'; ;
  src: url(./Heckney-60SemiBold.woff2);
} */
 

@font-face {
  font-family: 'Heckney' ;
  src: url(./Heckney-95ExtraBlack.woff2);
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
 *:not(.about-body *, .float-form *, .form-btns *, .box1 h1){ 
        font-family: 'Playfair Display', serif !important;
    }
.about-body *,.box1 h1:not(footer *, * p, .float-form * , .form-btns *){
    text-transform: uppercase;
    font-family: 'Heckney', sans-serif;
}
.about-body p{
  font-family: 'Playfair Display', serif;
}

.about-body p:not(footer * p, .float-form *,.form-btns){
  font-size:20px;
  text-transform: none !important;
}

.about-body h1:not(.form-btns *){
    font-weight:bolder;
    font-size:30px;
}
.about-body>header h1,.about-body .our-team h1,.about-body .brand-design-text h1{
    font-size:80px !important;
}
.about-body footer *:not( footer * a ){
  text-transform: capitalize;
}

/* .about-body .brand-design-text{
-webkit-text-stroke: 1px #fff;
-webkit-text-fill-color:none;
} */

.about-body :not(.float-form *,.form-btns *){
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: unset;
  text-transform:none !important;
}
.about-body .form-btns * h1 *{
  font-family:'Times New Roman', Times, serif !important;
  font-style: unset;
  text-transform:none !important;
}

.expertise-body,.contact-body *{
    font-family: 'Playfair Display',sans-serif;
}

.expertise,.contact-body h1{
    font-weight: bolder;
}

.portfolio-body #qodef-page-outer *{
    color: #fff !important;
}
nav a{
  text-decoration: none;
  font-style:bolder !important;
}

span{
  color:#000;
}
/* 
.portfolio-body .navbar *{
    
    background-color: #000;
    text-decoration: none;
} */

nav .breadcrumbs ol{
  text-align: center !important;
}

a:not(nav.breadcrumbs ol li a,.btn *, .slide- *, .blue-form *){
    /* text-decoration: none; */
    color:#000 !important;
  }
  
  ul:not(.indicators, .breadcrumbs ol) {
    min-width: 12rem;
      /* list-style: none; */
      margin: 0;
      padding-left: 0;
  }
  
  li:not( .q-carousel ul li ) {
      color: #000;
    margin: 0 auto;
      display: block;
      float: left;
      padding: 1rem;
      min-width: 12rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
  .navbar-collapse>ul>li{
    min-width:unset !important;
    width:unset;
  }
  .breadcrumbs ol li{
    min-width:unset;
    margin: 0;
    width:unset;

  }
  .breadcrumbs ol{
    margin:0;
  }
  font-scroll *{
    margin:0;
    border:0;
  }

  @media screen and (max-width:900px){
    .breadcrumbs ol{
      display: flex !important;
      flex-direction:row;
      margin: 0;
      justify-content: flex-start!important;
    }
  }
  .breadcrumbs ol{
    display: inline-flex;
    min-width:unset;
    margin:0;
  }
  
  li:hover {
      cursor: pointer;
  }
  
  ul li ul:not(.portfolio-body * ) {
    background-color: #fff;
      visibility: hidden;
    opacity: 0;
    min-width: 12rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top:0px;
      left: -10px;
    position: absolute;
    display: none;
  }
  
  ul li:hover > ul:not(.portfolio-body *),
  ul li ul:hover:not(.portfolio-body *){
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 4;
  }

  li ul li:hover{
    background-color:rgb(244, 244, 244);
  }
  
  ul li ul li :not(.portfolio-body *){
      clear: both;
    width: 100%;
  }
  .w-btn i{
    color:rgb(0, 155, 0) !important;
  }

  .logo{
    z-index:3;
}

.logo img{
    width:130px;
}

.navbar li.active{
  font-style: bolder;
}
.navbar *{
    font-family:"Playfair Display" ,sans-serif !important;
    text-transform: uppercase;
    text-decoration: none ;
}
footer *{
  font-family:'Playfair Display',sans-serif !important;
  text-decoration: none !important;
}

.expertise-body section *{
 
  font-family: 'Playfair Display',sans-serif;
    /* font-weight: 600; */
}
.expertise-body p{
  color: #797979;
}

li ul *{
  text-transform:capitalize !important;
}
.dropside:not(.portfolio-body *){
  position: absolute;
  left: 100%;
  TOP: 0;
}
.portfolio-body .dropside{
  position: absolute;
  left: 100%;
  TOP: 0;
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 20px!important;
  }
   .about-body .navbar-collapse >ul {
    background-attachment: #f3f3f3;
    position:inherit !important;
  }
  .about-body p:not(footer *){
    font-size: 15px;
  }

  /* sub-category */
  * :not(.vr, .slide-  *){
    font-size: 12px;
  }
  
  li ul{
    position: inherit!important;
    visibility: hidden;
    left:5% !important;
    /* margin-right: auto !important; */
    width: 100%;
  }
  li ul li{
    width: 100%;
    background-color: rgb(244, 244, 244) !important;
  }
  .dropside:active{
    visibility: visible;
    position: inherit !important;
    
  }
  li ul:active{
    visibility: visible;
    display:flex !important;
    flex-direction: column;
  }
  .navbar>ul {
    align-self: flex-start;
  }
}



/* fixed-form  */
.form-btns{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    background: #fff!important;
    border-radius: 10px;
    z-index: 99;
    /* height:  */
    
    
}
.homepage .form-btns{
  margin-bottom:-2%;
}
.form-btns h1{
    padding: 0 10px;
}

.float-form{
  visibility: hidden;
    width: 25%;
    z-index:99;
    margin:0;
    position: fixed;
    bottom:10vh;
    background: #fff !important;
    border-radius: 10px !important;
    right: 0;
    /* margin: 10px; */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
nav ul *{
  font-family: 'Heckney', sans-serif!important;
}
.float-form *:not(.fa-solid){
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
  text-transform:none;
}
h2{
  color:#fff!important;
}

input[type="email"], input[type="phone"], textarea[type="message"]{
    
  border: unset !important;
  background-color: #fff !important;
  /* border:1px solid rgb(148, 148, 148) !important;
  border-radius: 10%; */
}
button[type="submit"]{
  
  margin: auto !important;
}


.blue-form{
    /* background: #0394fc !important; */
    /* padding: 10px; */
    color: #fff !important;
    border-radius: 10px;
}

.blue-form h4, .blue-form h5, .blue-form h3{
  font-weight: bold;
    /* font-size: 15px; */
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}


/* .blue-form-1{
    display: flex;
    margin-top: -5%;
} */

/* .blue-form-1 h2{
    font-size: 35px;
} */

/* .blue-form-content{
    padding: 20px;
    font-size: 10px;
} */

.form-content{
    width: 95%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

/* .form-text{
    text-align: start;
    padding: 0 10px;
} */
/* 
.form-text h2{
    font-size: 15px;
} */

/* .form-text p{
    font-size: 10px;
} */

/* .form-field input{
    padding: 10px;
    margin: 10px;
}



.form-field textarea{
    margin:  0 10px;
    min-height: 100px;
} */

.form-field{
  border-radius:10px!important;
}

@media(max-width: 600px){
    .float-form{
        width: 90%;
        bottom: 5vh;
    }
    .form-btns h1 *{
      font-size: 40px !important;
    }
}

