@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
.homepage 
    *{ 
        font-family: 'Playfair Display', serif;
    }
.about-body *{
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}

.about-body p{
  text-transform: none !important;
}

.about-body h1{
    font-weight:bolder;
    font-size:30px;
}
.about-body>header h1,.about-body .our-team h1,.about-body .brand-design-text h1{
    font-size:80px;
}
.about-body .brand-design-text{
-webkit-text-stroke: 1px #fff;
-webkit-text-fill-color:none;
}

.expertise-body,.contact-body *{
    font-family: Roboto,sans-serif;
}

.expertise,.contact-body h1{
    font-weight: bolder;
}

.portfolio-body #qodef-page-outer *{
    color: #fff !important;
}

/* 
.portfolio-body .navbar *{
    
    background-color: #000;
    text-decoration: none;
} */

a{
    /* text-decoration: none; */
    color:#000 !important;
  }
  
  ul {
   
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #000;

      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  
  
  li:hover {
      cursor: pointer;
  }
  
  ul li ul {
    background-color: #fff;
      visibility: hidden;
    opacity: 0;
    min-width: 10rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top:1px;
      left: 0;
    position: absolute;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 4;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }

  .logo{
    z-index:3;
}

.logo img{
    width:100px;
}


.navbar *{
    font-family: Roboto,sans-serif !important;
    text-transform: uppercase;
    text-decoration: none !important;
}
footer *{
  font-family: Roboto,sans-serif !important;
  text-decoration: none !important;
}

.expertise-body *{
  color: #333333;
  font-family: Roboto,sans-serif;
    font-weight: 600;
}
.expertise-body p{
  color: #797979;
}


@media screen and (max-width: 768px) {
  h1{
    font-size: 20px!important;
  }


  /* sub-category */
  *{
    font-size: 12px;
  }
}