*{
    margin:0;
    padding:0 ;
    border:0;
}
h1{
    font-family:"MerriweatherUltraBold Regular", "Helvetica Neue",Helvetica,Arial;
}
.image-responsive{
    width:100%;
}

.logo{
    z-index:3;
}

.logo img{
    width:50px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

    .menu-list li {
        list-style: none;
    }

    .menu-list a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px;
        transition: 0.2s;
        text-transform: uppercase;
    }

        .menu-list a:hover {
            color: #ccc;
            transition: 0.2s;
        }





/* VISUALLY REPLACEMENT */
.hello-parent {
  display: flex;
  background: #fff;
  background: -webkit-radial-gradient(#fff, #eaeaea); 
  background: -o-radial-gradient(#fff, #eaeaea); 
  background: -moz-radial-gradient(#fff, #eaeaea);
  background: radial-gradient(#fff, #eaeaea); 
}

.hello-word {
  margin:auto;
}
/* H Animation */

.H-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-left-move 20s ease forwards;
}

.H-mid-stroke {
  stroke-dasharray: 37px;
  stroke-dashoffset: 37px;
  animation: H-mid-move 9s ease forwards;
}

.H-right-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-right-move 13s ease forwards;
}

@keyframes H-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes H-mid-move {
  0% {
    stroke-dashoffset: 37px;
  }
  5% {
    stroke-dashoffset: 37px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes H-right-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 124px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* E Animation */

.E-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: E-left-move 20s ease forwards;
}

.E-top-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-top-move 10s ease forwards;
}

.E-mid-stroke {
  stroke-dasharray: 42px;
  stroke-dashoffset: 42px;
  animation: E-mid-move 10s ease forwards;
}

.E-bottom-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-bottom-move 10s ease forwards;
}

@keyframes E-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  6% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-top-move {
  0% {
    stroke-dashoffset: 47px;
  }
  6% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-mid-move {
  0% {
    stroke-dashoffset: 42px;
  }
  8% {
    stroke-dashoffset: 42px;
  }
  13% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes E-bottom-move {
  0% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 47px;
  }
  16% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L One Animation */

.L-one-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-one-long-move 20s ease forwards;
}

.L-one-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-one-short-move 10s ease forwards;
}

@keyframes L-one-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  7% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes L-one-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  13% {
    stroke-dashoffset: 44px;
  }
  18% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L Two Animation */

.L-two-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-two-long-move 20s ease forwards;
}

.L-two-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-two-short-move 10s ease forwards;
}

@keyframes L-two-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  3% {
    stroke-dashoffset: 124px;
  }
  8% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes L-two-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  15% {
    stroke-dashoffset: 44px;
  }
  20% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* O Animation */

.O-stroke {
  stroke-dasharray: 302px;
  stroke-dashoffset: 302px;
  animation: O-move 20s ease forwards;
}

@keyframes O-move {
  0% {
    stroke-dashoffset: 302px;
  }
  4% {
    stroke-dashoffset: 302px;
  }
  9% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* Red Dot Animation */

.red-dot {
  stroke-width: 44px;
  stroke-linecap: round;
  animation: red-dot-grow 8s ease-out forwards;
}

@keyframes red-dot-grow {
  0% {
    stroke-width: 0px;
  }
  15% {
    stroke-width: 0px;
  }
  20% {
    stroke-width: 44px;
  }
  100% {
    stroke-width: 44px;
  }
}



.menu div{
    width:25px;
    height:3px;
    margin:5px;
    background-color:#fff;
    z-index:3;
}

.menu{
    display:none;
    cursor:pointer;
}

/* subscribe */


img#rotate-pic {
  position: relative;
  top: 50px;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  width: 250px;
  height: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img#rotate-pic:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
} 

/* #subscribe{
  position: absolute;
  color: turquoise;
  z-index:1;
  
  top:75%;
  bottom:-5%; */
  /* z-index:2;
  left:25vw;
  bottom:-10px;
} */

/* sticky-slider */
/* html, body {
    background: #F7F5E6;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  } */
  .cover{
    height: 100%;
    object-fit: cover;
  }
  .slider {
    margin:0;
    width:50vw;
  }
  
  .slide_viewer {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 50vw;
  }
  
  .slide- {
    display: none;
    height: 100%;
    position: relative;
    width: 50vw;
    
  }
  
  .slide-:first-child {
    display: block;
  }
  
  .slide-:nth-of-type(1) {
    background: url(./images/p1images/home-slider-1.jpg) no-repeat ;
    background-size: cover;
  }
  
  .slide-:nth-of-type(2) {
    background: url(./images/p1images/h2-slide-img-1.jpg) no-repeat ;
    background-size: cover;  }
  
  .slide-:nth-of-type(3) {
    background: url(./images/p1images/h2-slide-img-3.jpg) no-repeat ;
    background-size: cover;  }
  
  .slide-:nth-of-type(4) {
    background: url(./images/p1images/h2-slide-img-4.jpg) no-repeat ;
    background-size: cover;  
}
  
  .slide_buttons {
    left: 0;
    position: absolute;
    top:90%;
    right: 0;
    text-align: center;
    
  }
  
  a.slide_btn {
    text-decoration: none;
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #151b1f;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 5vh;
    margin: 0;
    width: 100%;
    position: relative;
    top:-50%;
  }
  
  .previous_btn {
    bottom: 0;
    left: 50px;
  /*   margin: auto; */
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
  /*   margin: auto; */
    position: absolute;
    right: 50px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
    .slider {
      width:100%;
    }
    
   
    .slide_group {
      height: 100%;
      position: relative;
      width:100%;
    }
    
    .slide- {
      display: none;
      height: 100%;
      position: relative;
      width:100%;
      
    }
.slide- {
  background-position: center;
  background-size: contain;
  /* background-size:cover; */
}
 

  }


/* 
.nav-active {
    transform: translateX(0%);
} */

/* @keyframes navReveal {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
} */
/* 
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
} */

.container {
    width: 80%;
    margin: 100px auto;
}

.container h1 {
    margin-bottom: 50px;
    text-align: center;
}
/* 
.nav2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.2s;
}

#mynav {
    top: 0px !important;
}
 */

/* vertical line in footer */
/* hr{
    height: 0.2px;
    width:.5px;
    border-width:0;
    position: fixed;
      left: 50%;
    background-color:blue;
  } */


.quote-img{
    float: right;
}

button.read-more{
    padding:10px 30px;
    border-radius: 0%;
    
}

button.read-more:hover{
    background-color: white;
  color: black;
  transition: 0.5s;
}


/* Quotes */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  /* float: right; */
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}



.gif-effects>.col-4{
  height: 100px;

}

.gif-effects>.col-4>img{
  height: 100px;
  border: 1px solid #333;
}


/* TEXT SLIDE ON HOVER*/



.animated:hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.animated > * {
  width: 100%;
}

/* Non-solution styles */

.font-flex-container {
  height:270px;
  margin : auto 0;
  width: 100%;
}
.animated {
  font-size: 7rem;
  font-family: sans-serif;
  width: 100%;
}
 span>img{
  max-height: 12rem;
  }

@media screen and (min-width: 768px){
  span>img{
    max-height: 9rem;
    }
    .font-flex-container {
      height:195px;
      width: 100%; 
    }
  .animated {
    font-size: 4rem;
    font-family: sans-serif;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
 span>img{
    max-height: 7rem;
    }
    .font-flex-container {
      height:120px;
      width: 100%; 
    }
  .animated {
    font-size: 2rem;
    font-family: sans-serif;
    width: 100%;
  }
}