*{
    border:0;
    padding:0;
    margin:0;
   
}

hr{
    padding:2px;
    color:rgb(25, 0, 0)
}

.sticky-scroller,.sticky-carousel>.row{
    
    overflow-y:hidden !important;
}

.sticky-container{
  height: 100vh !important;
  position: sticky;
  top: 0;
    right: 0;

}

@media screen and (max-width: 800px){
    .sticky-container{
        height:45vh !important;
        overflow-y:hidden !important;
    }
    
}

img.cover{
    object-fit:cover;
}