.col-1{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sticky-contact{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    /* margin:20px 0 ;
    display:inline-flex;
    width:100%;
    justify-content: center;
    align-items: center; */
}
/* .sticky-contact:nth-child(even){
    flex-grow: 1;align-self: stretch;
} */
.navbar *{
    font-family: Roboto,sans-serif !important;
    text-transform: uppercase;
    text-decoration: none !important;
}

 
.sticky{
    position: sticky;
    top: 0;
    height:100vh !important;
}
.portfolio-img>img{
    /* min-height: 50vh ; */
    min-height:30%;
    width:100%;
    /* object-fit: cover; */
}
.portfolio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

 .text-rotate{
        /* width: 100%;
        display: inline block; */
        transform: rotate(-90deg);
      
      
        /* Legacy vendor prefixes that you probably don't need... */
      
        /* Safari */
        -webkit-transform: rotate(-90deg);
      
        /* Firefox */
        -moz-transform: rotate(-90deg);
      
        /* IE */
        -ms-transform: rotate(-90deg);
      
        /* Opera */
        -o-transform: rotate(-90deg);
      
        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      
  
 }